Source: scripts-vserver
Section: admin
Priority: optional
Maintainer: Ard van Breemen <ard@kwaak.net>
Standards-Version: 3.6.2

Package: scripts-vserver
Architecture: all
Depends: util-vserver (>= 0.30.216-pre3034-1.tem.3), lua5.2, lua-posix
Recommends: util-vserver-build, util-vserver-sysv
Conflicts: util-vserver (= 2:0.30.216-svn2939-6)
Description: vserver scripts manager
 Populates /etc/vserver/<name>/scripts.d/* with symlinks to setup scripts.
 This way you can easily manage the hooks you write to complement the
 util-vserver scripts.
