#!/usr/bin/make -f
# debian.rules file for scripts-vserver
# Copyright 2012 Paul Slootman <paul@debian.org>
# Based on the  sample debian.rules file - for GNU Hello (1.3).
#   Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)


INSTALL = install
INSTALL_FILE    = $(INSTALL) -p    -o root -g root  -m  644
INSTALL_PROGRAM = $(INSTALL) -p    -o root -g root  -m  755
INSTALL_SCRIPT  = $(INSTALL) -p    -o root -g root  -m  755
INSTALL_DIR     = $(INSTALL) -p -d -o root -g root  -m  755

build:
# nothing to do

clean: checkdir
	-rm -f build
	-rm -rf *~ debian/*~ debian/*.bak debian/files* debian/substvars
	-rm -rf debian/scripts-vserver*

binary-indep:	checkroot build
	$(INSTALL_DIR)	debian/scripts-vserver/DEBIAN \
			debian/scripts-vserver/usr/share/doc/scripts-vserver \
			debian/scripts-vserver/usr/local/sbin \
			debian/scripts-vserver/usr/local/lib/site_perl
	$(INSTALL_FILE)	debian/changelog debian/scripts-vserver/usr/share/doc/scripts-vserver/changelog.Debian
	# $(INSTALL_FILE)	README       debian/scripts-vserver/usr/share/doc/scripts-vserver/README
	$(INSTALL_FILE) debian/copyright debian/scripts-vserver/usr/share/doc/scripts-vserver/copyright
	$(INSTALL_SCRIPT) debian/postinst debian/postrm debian/scripts-vserver/DEBIAN

	# Scripts manager
	$(INSTALL_DIR) debian/scripts-vserver/usr/lib/scripts-vserver/scripts \
		debian/scripts-vserver/usr/lib/scripts-vserver/ \
		debian/scripts-vserver/etc/scripts-vserver/scripts \
		debian/scripts-vserver/usr/share/lua/5.1/ \
		debian/scripts-vserver/usr/share/lua/5.2/ \
		debian/scripts-vserver/usr/share/lua/5.1/tem/ \
		debian/scripts-vserver/usr/share/lua/5.2/tem/ \
		debian/scripts-vserver/etc/scripts-vserver/lib
	$(INSTALL_FILE) tem-scripts/scripts/* debian/scripts-vserver/usr/lib/scripts-vserver/scripts
	$(INSTALL_SCRIPT) tem-scripts/sbin/* debian/scripts-vserver/usr/local/sbin
	$(INSTALL_FILE) tem-scripts/lib/* debian/scripts-vserver/usr/share/lua/5.1/tem
	$(INSTALL_FILE) tem-scripts/lib/* debian/scripts-vserver/usr/share/lua/5.2/tem
	$(INSTALL_FILE) tem-scripts/lua/* debian/scripts-vserver/usr/share/lua/5.1
	$(INSTALL_FILE) tem-scripts/lua/* debian/scripts-vserver/usr/share/lua/5.2
	dh_lua
	dpkg-gencontrol -pscripts-vserver -Pdebian/scripts-vserver
	chown -R root.root debian/scripts-vserver
	chmod -R go=rX debian/scripts-vserver
	dpkg --build debian/scripts-vserver ..

binary-arch:	checkroot build
# nothing to do

# Below here is fairly generic really

binary:		binary-indep binary-arch

checkdir:
	@test -f debian/rules

checkroot: checkdir
	@test 0 = `id -u` || { echo "Error: not super-user"; exit 1; }

.PHONY: binary binary-arch binary-indep clean checkroot checkdir
